<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Work (portfolio) - Wil Voss</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1.0, maximum-scale=5.0" />
    <meta name="keywords"
      content="Work, game design, game designer, portfolio, samples, prototyping, rapid prototyping, UX integration, application development and integration, websites, Wil Voss, Will Voss, Seattle UX Developer, Designer, and Integrator" />
    <meta name="description"
      content="Select samples of the publicly viewable work of Wil Voss, Seattle-based Game Designer, UX Designer, Developer, Integrator." />

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Wil Voss",
        "url": "https://portfolio.wilvoss.com",
        "sameAs": [
          "https://wilvoss.com",
          "https://bigtentgames.com"
        ],
        "jobTitle": "UX Designer",
        "description": "Professional portfolio of Wil Voss, showcasing UX design and interactive projects."
      }
  </script>

    <link rel="icon" type="image/png" sizes="48x48" href="favicon.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
    <link rel="stylesheet" href="styles/main.css?19" media="screen" />
  </head>

  <body>
    <app id="app" v-cloak :class="{modal: showModal}">
      <link rel="stylesheet" :href="showContrast ? 'styles/accessibility.css' : ''" media="screen" />
      <onionskin id="onionskin" v-if="showOnion" :class="{show: showOnion, zoomfits: zoomedImageFits}"
        @click="ToggleShowOnionSkin">
        <chrome>
          <close></close>
        </chrome>
        <detail :class="[zoomImageOrientation]">
          <img alt="A zoomed in, more detailed version of the image you clicked." :key="zoomedImage" id="onionimage"
            @load="CheckZoom(event)" :src="zoomedImage" />
        </detail>
      </onionskin>
      <modal v-if="selectedWork !== null && showModal" :class="{show: showModal}" :inert="!showModal">
        <chrome>
          <close tabindex="1" @click="ToggleShowModal"></close>
          <next tabindex="1" @click="NextWork"></next>
        </chrome>
        <label>{{selectedWork.category}}</label>
        <h1>{{selectedWork.tileText}}</h1>
        <intro>
          <img :src="selectedWork.backgroundImage" />
          <ul>
            <li v-if="selectedWork.roleText !== ''"><span>Role</span> <span>{{selectedWork.roleText}}</span></li>
            <li v-if="selectedWork.skillsText !== ''"><span>Skills</span> <span>{{selectedWork.skillsText}}</span></li>
            <li v-if="selectedWork.resultText !== ''"><span>Impact</span> <span>{{selectedWork.resultText}}</span></li>
            <li v-if="selectedWork.url !== ''"><span>URL</span> <span><a :href="selectedWork.url"
                  target="_blank">{{selectedWork.tileText}}</a></span></li>
          </ul>
        </intro>
        <container :class="{dark: object.darkBackground}" v-for="object in selectedWork.caseStudyObjects"
          v-if="object.show">
          <lead v-if="object.html !== ''" v-html="object.html"></lead>
          <label @click="ZoomImage(object)" v-if="object.imageZoomed !== ''">(click image for detail)</label>
          <img :class="{zoomable: object.imageZoomed !== ''}" :is-disabled="!showModal" :key="object.image"
            v-if="object.image !== '' && object.image.indexOf('youtube') === -1 && object.image.indexOf('player.vimeo') === -1"
            :src="object.image" @click="ZoomImage(object)" />

          <iframe v-if="object.image !== '' && object.image.indexOf('youtube') != -1" :src="object.image + '?rel=0'"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>

          <iframe v-if="object.image !== '' && object.image.indexOf('player.vimeo') != -1" :src="object.image"
            frameborder="0" title="OOBE" allow="fullscreen"></iframe>
          <lead v-if="object.afterImageHtml !== ''" v-html="object.afterImageHtml"></lead>
          <script src="https://player.vimeo.com/api/player.js"></script>
        </container>
        <container>
          <p>If you want to learn more about my work on this project or any of my other work, please reach out!</p>
          <p><img alt="LinkedIn Icon"
              style="width: 20px; height: 20px; display: inline-block; box-shadow: none; border-radius: 0px; margin: 0 8px 0 0; padding: 0; transform: translateY(4px)"
              src="./images/In-Blue-72.png" /><a tabindex="1" class="linkedin" href="http://www.linkedin.com/in/wilvoss"
              target="_blank">Connect with me on LinkedIn</a>.</p>
        </container>
        <controls v-if="activeWorks.length > 1">
          <button tabindex="1"
            :class="{disabled: selectedWork === activeWorks[0] && activeWorks[0].group === 'Deep Dives'}"
            @click="PreviousWork">previous</button>
          <button tabindex="1" @click="NextWork">next</button>
        </controls>
      </modal>
      <wrapper :inert="showModal">
        <header :class="{compact: showCompactHeader}">
          <hgroup>
            <h1><a href="/" title="Home Page">Wil Voss</a></h1>
            <label>Casual Games Designer, UX Designer, UX Engineer</label>
          </hgroup>
          <nav>
            <ul>
              <li><a tabindex="-1" class="on" alt="A sample of Wil's work." title="A sample of Wil's work.">Work</a>
              </li>
              <li><a tabindex="1" href="why.html" alt="Why work with Wil?" title="Why work with Wil?">Why</a></li>
              <li><a tabindex="1" href="about.html" alt="Read more about Wil Voss."
                  title="Read more about Wil Voss.">About</a></li>
            </ul>
          </nav>
        </header>
      </wrapper>
      <wrapper :inert="showModal">
        <article :style="{opacity: showArticle ? 1 : 0}">
          <p>I own and operate <a tabindex="1" href="https://bigtentgames.com" target="_blank">Big Tent Games</a>
            where I do
            everything from game conception to design, development, publishing, and marketing.
          </p>

          <p>That's not all. UX design, rapid prototyping, user research, app development, websites of every stripe
            and
            scale: if it's interactive, requires strong conceptualization, demands independent thinking as well as
            strong collaboration, I've done it or something like it. </p>
          <group>
            <!-- <h2>{{groupName}}</h2> -->
            <h2>Case Studies & Quick Reads</h2>
            <work>
              <item tabindex="1" v-for="work in works" @click="SelectWork(work)">
                <img :src="work.backgroundImage" />
                <span>
                  <img class="logo" v-if="work.logo !== ''" :src="'./images/' + work.logo" />
                  {{work.caseStudyObjects.length > 0 ? work.tileText : work.name}}<i>{{work.category}}</i></span>
              </item>
            </work>
          </group>
          <h2>Contact</h2>
          <p>If you want to learn more about my work experience, please reach out!</p>
          <p><img alt="LinkedIn Icon"
              style="width: 20px; height: 20px; display: inline-block; box-shadow: none; border-radius: 0px; margin: 0 8px 0 0; padding: 0; transform: translateY(4px)"
              src="./images/In-Blue-72.png" /><a tabindex="1" class="linkedin" href="http://www.linkedin.com/in/wilvoss"
              target="_blank">Connect with me on LinkedIn</a>.</p>
        </article>
      </wrapper>
    </app>
    <script src="models/CaseStudyObject.js?32" type="text/javascript"></script>
    <script src="models/WorkObject.js?32" type="text/javascript"></script>
    <script src="helpers/vue.min.js" type="text/javascript"></script>
    <script src="scripts/work.min.js?32" type="text/javascript"></script>
  </body>

</html>