<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Work (portfolio) - Wil Voss</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1.0, maximum-scale=5.0" />
    <meta name="keywords" content="Work, portfolio, samples, prototyping, rapid prototyping, UX integration, application development and integration, websites, Wil Voss, Will Voss, Seattle UX Developer, Designer, and Integrator" />
    <meta name="description" content="Select samples of the publicly viewable work of Wil Voss, Seattle-based Game Designer, Developer | UX Designer | Integrator." />
    <link rel="stylesheet" href="styles/main.css" media="screen" />
  </head>

  <body>
    <app id="app" v-cloak>
      <link rel="stylesheet" :href="showContrast ? 'styles/accessibility.css' : ''" media="screen" />
      <onionskin v-if="selectedWork !== null" :class="{show: showOnionskin}">
        <close @click="ToggleShowOnionSkin"></close>
        <intro>
          <!-- <h1>{{selectedWork.name}}</h1> -->
          <ul>
            <li><span>Case study</span> <span>{{selectedWork.name}}</span></li>
            <li v-if="selectedWork.description !== ''"><span>{{selectedWork.type}}</span> <span>{{selectedWork.description}}</span></li>
            <li v-if="selectedWork.linkText !== ''">
              <span>Link</span><span> <a @click="OpenUrl(event, selectedWork.url)" target="_blank">{{selectedWork.linkText}}</a></span>
            </li>
            <li v-if="selectedWork.whyText !== ''"><span>Why</span> <span>{{selectedWork.whyText}}</span></li>
            <li v-if="selectedWork.roleText !== ''"><span>What</span> <span>{{selectedWork.roleText}}</span></li>
          </ul>
        </intro>
        <container v-for="object in selectedWork.caseStudyObjects" v-if="object.show">
          <lead v-if="object.html !== ''" v-html="object.html"></lead>
          <img :key="object.image" v-if="object.image !== '' && object.image.indexOf('youtube') === -1" :src="object.image" />
          <!-- <video :key="object.image" id="onionvideo" volume=".35" v-if="object.image !== '' && object.image.indexOf('youtu.be') != -1" autoplay :src="object.image"></video> -->

          <iframe width="1024" height="576" v-if="object.image !== '' && object.image.indexOf('youtube') != -1" :src="object.image" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </container>
      </onionskin>
      <header>
        <hgroup>
          <h1><a href="/" title="Home Page">Wil Voss</a></h1>
        </hgroup>
      </header>
      <nav>
        <ul>
          <li><a class="on" href="/" alt="A sample of Wil's work." title="A sample of Wil's work.">Work</a></li>
          <li><a href="why.html" alt="Why work with Wil?" title="Why work with Wil?">Why</a></li>
          <li><a href="about.html" alt="Read more about Wil Voss." title="Read more about Wil Voss.">About</a></li>
        </ul>
      </nav>
      <article :style="{opacity: showArticle ? 1 : 0}">
        <section class="intro">
          <p>Game design, rapid prototyping, UX design &amp; integration, user research, app development, websites of every stripe and scale: if it's interactive, requires strong conceptualization, demands independent thinking, could use a kick start, or just needs help getting across the finish line, I've done it or something like it. Publicly available products and websites that I've worked on are listed below.</p>
        </section>
        <section class="work">
          <group v-for="(group, groupName) in workGroups" :key="groupName">
            <h1>{{groupName}}</h1>
            <work>
              <button :class="{casestudy: work.caseStudyObjects.length > 0}" v-for="work in group" @click="SelectWork(work)" :title="work.alt" :style="{backgroundImage: 'url(' + work.backgroundImage +')'}">
                <span>{{work.name}}<i>{{work.type}}</i></span>
              </button>
            </work>
          </group>
        </section>
        <span class="clearBoth"></span>
      </article>
      <footer><button class="email" @click="EmailMe" title="Email">Email</button><button class="linkedIn" onclick="window.open('http://www.linkedin.com/in/wilvoss')" title="LinkedIn">LinkedIn</button><button class="accessibility" @click="ToggleContrast" title="Contrast">Contrast</button></footer>
    </app>
    <script src="models/CaseStudyObject.js" type="text/javascript"></script>
    <script src="models/WorkObject.js" type="text/javascript"></script>
    <script src="helpers/vue.min.js" type="text/javascript"></script>
    <script src="scripts/work.js" type="text/javascript"></script>
  </body>
</html>
