@font-face {
    src: url('../fonts/Abel-Regular.ttf');
    font-family: 'Abel';
}

:root {
    --appBackgroundHSL: 240, 10%, 94%;
    --appBackgroundDarkerHSL: 240, 10%, 89%;
    --appBackgroundDarkestHSL: 240, 10%, 44%;
    --appBackgroundAltHSL: 240, 10%, 34%;
    --appForegroundHSL: 240, 10%, 19%;
    --quoteHSL: 90, 100%, 80%;
    --linkColorHSL: 209, 79%, 40%;
    --textTransform: none;
    --footerHeight: 40px;
    --defaultGap: 20px;
    --borderRadius: 6px;
    --dropShadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

html {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0px 0px;
    background: hsl(var(--appBackgroundHSL));
    overflow: hidden;
    color: hsl(var(--appForegroundHSL));
    font-size: 1.3em;
    line-height: 1.3em;
    font-family: 'Abel', 'Segoe UI', 'Helvetica Neue';
    /* background: linear-gradient(180deg, hsla(var(--appBackgroundHSL), 1) calc(100% - 100px), hsla(var(--appBackgroundDarkerHSL), 1) 100%); */
    /* background-attachment: fixed; */
    text-wrap: supressed;
    word-wrap: break-word;
    display: block;
    width: 100%;
    height: 100%;
}

app {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    overflow-y: visible;
}

wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 1124px;
    /* overflow: hidden; */
    height: auto;
}

.modal wrapper {
    opacity: 0;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
}

[v-cloak] {
    opacity: 0;
    transition: 0ms ease-out opacity;
}

button {
    cursor: pointer;
    font-size: 75%;
    font-family: 'Abel', 'Segoe UI', 'Helvetica Neue';
}

modal,
onionskin {
    display: flex;
    position: fixed;
    top: 0;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    opacity: 0;
    z-index: 200;
    transition: 250ms ease-out all;
    background: linear-gradient(180deg, hsla(var(--appBackgroundHSL), 1) 10px, hsla(var(--appBackgroundDarkerHSL), 1) 100px);
    padding: 40px 30px;
    width: calc(100% - 60px);
    height: calc(100% - 80px);
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    pointer-events: none;
}

onionskin {
    overflow-y: hidden;
}

article::-webkit-scrollbar,
modal::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    scrollbar-width: none;
    touch-action: auto;
}

.disabled {
    opacity: .3;
    pointer-events: none;
}

onionskin {
    justify-content: center;
    align-items: start;
    z-index: 300;
    backdrop-filter: blur(5px);
    background: hsla(var(--appForegroundHSL), .9);
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-backdrop-filter: blur(5px);
}

onionskin.zoomfits {
    align-items: center;
}

modal close,
modal next,
onionskin close {
    display: flex;
    position: fixed;
    top: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    transition: 200ms ease-in-out all;
    /* box-shadow: 0px 2px 6px hsla(var(--appBackgroundDarkestHSL), .8); */
    cursor: pointer;
    margin-right: -4px;
    border: 1px solid hsl(var(--appBackgroundHSL));
    border-radius: 22px;
    background: hsla(var(--linkColorHSL), 1);
    background-image: url('../images/icon_close.svg');
    background-position: 13px center;
    background-size: 14px 14px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    overflow: hidden;
    color: white;
}

modal close,
modal next {
    margin-right: calc(-5 * var(--defaultGap));
}

modal close:active,
modal next:active,
modal close:focus,
modal next:focus {
    cursor: pointer;
    background-position: 16px center;
    width: 100px;
}

modal next {
    top: 58px;
    background-image: url('../images/icon_next.svg');
}

onionskin close {
    box-shadow: 0px 1px 4px hsla(var(--appForegroundHSL), .9);
    /* top: 14px; */
    /* width: 100px; */
    background-color: hsla(var(--appBackgroundDarkestHSL));
}

modal close:hover,
modal next:hover,
onionskin close:hover {
    background-position: 16px center;
    width: 100px;
}

modal next:hover {
    width: 92px;
}

modal close:before,
modal next:before,
onionskin close:before {
    display: block;
    flex-wrap: nowrap;
    margin-top: 2px;
    padding: 0px 10px;
    width: 20px;
    content: '';
    font-size: 20px;
    text-wrap: nowrap;
}

modal close:after,
modal next:after,
onionskin close:after {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 200ms ease-in-out all;
    margin-top: 2px;
    padding: 0;
    content: 'close';
    font-size: 75%;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-wrap: nowrap;
}

modal next:after {
    content: 'next';
}

modal close:hover:after,
modal next:hover:after,
onionskin close:hover:after,
modal close:active:after,
modal next:active:after,
modal close:focus:after,
modal next:focus:after {
    opacity: 1;
}

label {
    display: block;
    opacity: .7;
    width: 100%;
    max-width: 1024px;
    color: hsla(var(--appForegroundHSL), 1);
    font-style: italic;
    font-size: 70%;
    text-align: left;
    text-transform: var(--textTransform);
}

.dark label {
    color: hsla(var(--appBackgroundHSL), 1);
}

h1,
h2,
h3,
h4 {
    text-transform: var(--textTransform);
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
intro ul {
    margin: 0 0 calc(var(--defaultGap) * 2) 0;
    /* color: white; */
    padding: 0px 0 0 0;
    width: 100%;
    /* max-width: 1024px; */
    font-weight: normal;
    /* max-width: 650px; */
    text-align: left;
}

ul,
ol {
    margin-left: 40px;
}

intro ul {
    padding: 0;
}

h1 span {
    display: inline-block;
    padding: 0px;
    font-size: 48%;
    line-height: 116%;
    /* border-bottom: 1px solid hsl(var(--appForegroundHSL)); */
    /* transform: translateY(-5px); */
}

h1,
h2,
h3,
h4 {
    margin: calc(var(--defaultGap)) 0;
}

h2 {
    margin: calc(var(--defaultGap) * 2) 0;
}

modal h2 {
    margin: calc(var(--defaultGap)) 0;
}

ul,
ol {
    font-size: 85%;
    line-height: 170%;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

intro ul {
    margin-bottom: 0px;
    width: auto;
    font-size: 75%;
    list-style: none;
}

intro ul li {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    margin: 0 0 1px 0;
    border-radius: 4px;
    padding: 0;
    overflow: hidden;
    /* font-family: monospace; */
    font-size: 90%;
    line-height: 130%;
    /* border-bottom: 1px solid rgba(0, 0, 0, .1); */
}

intro ul li span {
    display: inline-block;
    /* border-radius: 0px 4px 4px 0px; */
    flex-grow: 1;
    background: hsla(var(--appBackgroundDarkestHSL), .075);
    padding: 5px 14px 4px 9px;
    /* border: 1px solid rgba(0, 0, 0, .2); */
    /* border-width: 1px 1px 1px 0; */
    font-style: normal;
    font-weight: normal;
}

intro ul li span:first-of-type {
    flex-grow: 0;
    border-width: 1px;
    border-color: hsla(var(--appBackgroundDarkestHSL), .3);
    /* border-radius: 4px 0 0 4px; */
    background: hsla(var(--appBackgroundDarkestHSL), 1);
    width: 48px;
    overflow: hidden;
    color: white;
    font-size: 90%;
    letter-spacing: 1px;
    /* text-align: right; */
    /* border-right: 1px solid rgba(0, 0, 0, .2); */
    /* border-bottom: 1px solid rgba(0, 0, 0, .1); */
    text-transform: uppercase;
    /* text-overflow: ellipsis; */
    text-wrap: nowrap;
    white-space: nowrap;
}

modal description {
    width: 100%;
    font-size: 100%;
}

h1 {
    margin: 0 0 var(--defaultGap) 0;
    max-width: 1024px;
    font-size: 130%;
}

h2 {
    font-size: 120%;
}

h3 {
    font-size: 110%;
}

modal button {
    display: inline-block;
    /* outline: none; */
    border: none;
    background: none;
    padding: 0;
    color: hsl(var(--linkColorHSL));
    font-style: inherit;
    font-weight: normal;
    font-size: 100%;
    text-align: left;
}

modal intro,
modal container,
modal chrome,
onionskin chrome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    font-size: 100%;
    text-align: left;
}

modal container {
    display: block;
}

modal blockquote {
    color: hsl(var(--quoteHSL));
    /* font-size: 80%; */
    /* padding: 0; */
    font-style: italic;
}

modal blockquote span {
    display: inline-block;
    color: hsl(var(--appBackgroundHSL));
    font-style: normal;
}

onionskin chrome {
    position: fixed;
    max-width: unset;
}

container.dark {
    margin: var(--defaultGap);
    border-radius: var(--borderRadius);
    background-color: hsl(var(--appBackgroundAltHSL));
    padding: var(--defaultGap) 40px;
    color: hsl(var(--appBackgroundHSL));
}

container.dark a {
    color: hsl(var(--appBackgroundHSL));
}

container.dark img,
container.dark iframe {
    margin-bottom: 10px;
    padding-bottom: 0px;
}

container.dark img {
    /* width: calc(100% - 0px); */
    height: auto;
}

container.dark img+lead,
container.dark iframe+lead {
    padding-top: 10px;
}

modal chrome {
    align-items: end;
}

modal container lead {
    display: block;
    width: 100%;
}

modal.show,
onionskin.show {
    opacity: 1;
    pointer-events: all;
}

modal img,
modal video,
modal iframe {
    margin-top: 10px;
    margin-bottom: var(--defaultGap);
    box-shadow: var(--dropShadow);
    border: none;
    border-radius: var(--borderRadius);
    width: 100%;
}

modal img.zoomable {
    cursor: pointer;
}

onionskin detail {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
}

detail.vertical {
    height: 100%;
}

onionskin img {
    margin: 0;
    box-shadow: var(--dropShadow);
    border: none;
    border-radius: var(--borderRadius);
    height: 100%;
    overflow: auto;
}

onionskin detail.vertical img {
    width: 100%;
    height: auto;
}

modal intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: var(--defaultGap);
    margin-bottom: var(--defaultGap);
}

modal intro img {
    margin: 0px;
    /* display: none; */
    width: 100%;
    max-width: 400px;
    /* box-shadow: none; */
}

modal iframe {
    margin-bottom: 40px;
    background: black;
    height: calc(100vw * .5625);
    max-height: 576px;
}

/* modal a.linkedin:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/In-Blue-72.png) no-repeat;
    background-size: 20px 20px;
    background-position: 4px left;
} */
modal controls {
    display: flex;
    flex-direction: start;
    justify-content: space-between;
    gap: calc(var(--defaultGap) * 4);
    padding-top: calc(var(--defaultGap) * 2);
    width: 100%;
    max-width: 1024px;
}

.attribution a {
    /* font-family: 'Terminal Dosis'; */
    font-weight: 700;
}

button,
a,
img,
h2,
button,
work button span {
    -webkit-transition-property: margin, color, background-color, border, padding, opacity, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    -webkit-transition-timing-function: ease-out;
    transition-duration: 0.15s;
    transition-property: margin, color, background-color, border, padding, opacity, transform;
    transition-timing-function: ease-out;
}

a {
    cursor: pointer;
    outline-width: 0px;
    border-bottom: 1px solid #aaa;
    color: #333;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    outline-width: 1px;
    border-bottom: 1px solid #666;
    background: transparent;
    color: #000
}

a:focus img,
a:active img {
    border-color: #008CFF;
}

a:focus,
a:active {
    border-color: #008CFF;
    color: #008CFF;
}

p,
blockquote {
    margin: 0px 0px var(--defaultGap) 0px;
    padding: 0;
    font-size: 85%;
    line-height: 170%;
    /* max-width: 650px; */
}

blockquote {
    padding: 0 var(--defaultGap) var(--defaultGap);
}

p:last-of-type,
blockquote:last-of-type {
    padding-bottom: 0px;
}

article ul,
article ol {
    margin: 0px 0px 10px 0px;
    padding: 0px;
    font-size: 85%;
    list-style: none;
}

article ul span {
    display: inline-block;
    margin-right: var(--defaultGap);
    width: 24px;
    font-weight: bold;
    text-align: left;
}

img {
    margin: 0px 0px 10px 0px;
    border: none;
    border-bottom: 1px solid rgba(223, 223, 229, 0);
}

article,
section,
header,
nav,
canvas {
    display: block;
    margin: 0px 50px;
    -webkit-transition-property: background-color, opacity;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-duration: 0.3s;
    transition-property: background-color, opacity;
    transition-timing-function: ease-out;
}

header.compact {
    display: flex;
    gap: 60px;
}

nav {
    margin: 0px;
}

article {
    -webkit-transition-duration: 0.5s;
    clear: both;
    opacity: 0;
    transition-duration: 0.5s;
    margin: 0px;
    margin-bottom: var(--footerHeight);
    padding: 40px 50px 40px 50px;
    overflow: auto;
}

header {
    backdrop-filter: blur(15px);
    /* position: fixed; */
    background: hsla(var(--appBackgroundHSL), .95);
    padding-top: 40px;
    width: 100%;
    max-width: 1024px;
}

header h1 {
    margin: 0px 0px 25px 0px;
    padding: 0px;
    color: #000;
    font-weight: normal;
    font-size: 130%;
}

header h1 a,
header h1 {
    border: rgba(223, 223, 229, 0) solid 0px;
    border-width: 1px 0px;
    color: #000;
}

header h1 a:hover,
header h1 a:active {
    outline: none;
    border-color: rgba(223, 223, 229, 0);
    color: #000;
}

header h1 a:focus {
    border-color: #008CFF;
    color: #008CFF;
}

nav {
    margin-top: 40px;
    margin-bottom: var(--defaultGap);
    border-bottom: 1px solid rgba(223, 223, 229, 0);
}

.compact nav {
    margin-top: 1px;
}

nav ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

nav li {
    display: inline;
    margin: 0px;
    padding: 0px;
}

nav ul li a {
    display: inline-block;
    margin: 0px var(--defaultGap) 0px 0px;
    border-top: 1px solid hsla(var(--linkColorHSL), 0);
    border-bottom: 1px solid hsla(var(--linkColorHSL), 1);
    color: hsl(var(--linkColorHSL));
    text-transform: uppercase;
}

nav ul li a:hover,
nav ul li a:active,
nav ul li a:focus {
    /* outline: none; */
    border-top-color: hsla(var(--linkColorHSL), 0);
    border-bottom-color: hsla(var(--linkColorHSL), 1);
    color: hsl(var(--linkColorHSL));
}

nav ul li a.on {
    border-top-color: hsla(var(--linkColorHSL), 1);
    border-bottom-color: hsla(var(--linkColorHSL), 0);
    padding-bottom: 0px;
    pointer-events: none;
}

section {
    margin: 0px;
    padding: 0px;
}

section.columnize {
    column-gap: 20px;
    columns: 2;
}

section.reference {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--defaultGap);
    margin-right: 0px;
    padding: 0px;
    width: 100%;
    font-size: 90%;
}

section.reference p {
    margin: 0px;
    border-radius: var(--borderRadius);
    /* margin: 0px 20px 20px 0px; */
    /* background: rgba(255, 255, 255, 0); */
    background-color: hsla(var(--appBackgroundDarkestHSL), 1);
    padding: var(--defaultGap);
    width: calc(33% - var(--defaultGap) * 3);
    color: hsla(var(--appBackgroundHSL), 1);
    font-style: italic;
    line-height: 150%;
    text-indent: -4px;
    /* text-align: center; */
}

section.reference p:nth-child(even) {
    /* background-color: hsla(var(--linkColorHSL), 1); */
}

section.reference p span {
    margin-top: 14px;
    font-style: normal;
}

section.reference p em {
    display: block;
}

section.reference a {
    border-color: transparent;
    color: hsla(var(--appBackgroundHSL), 1);
}

section.reference a:hover {
    border-color: hsla(var(--appBackgroundHSL), 1);
}

section.intro {
    padding: 0px 0px var(--defaultGap) 0px;
}

group {
    display: block;
    padding-bottom: var(--defaultGap);
    width: 100%;
}

group work {
    display: flex;
    flex-wrap: wrap;
    gap: var(--defaultGap);
}

work item {
    display: flex;
    flex-direction: column;
    transition: 250ms ease-in-out all;
    cursor: pointer;
    box-shadow: var(--dropShadow);
    /* height: 314px; */
    /* border: 1px solid hsl(var(--appBackgroundAltHSL)); */
    border-radius: var(--borderRadius);
    width: calc(33% - var(--defaultGap));
    overflow: hidden;
    font-size: 80%;
    line-height: 100%;
}

work item:hover {
    transform: scale(1.01);
}

work item:active {
    transform: translateY(0px) scale(.99);
}

work img {
    /* max-width: 328px; */
    margin: 0;
    width: 100%;
}

work button:focus {
    border-color: #008CFF;
    color: rgba(223, 223, 229, 0);
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

work item:hover button {
    opacity: .9;
    /* margin-bottom: 132px; */
}

work span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: 250ms ease-in-out all;
    margin-top: -1px;
    margin-left: 0;
    outline: none;
    border: none;
    background: hsla(var(--appBackgroundHSL), .98);
    background-color: hsl(var(--appBackgroundAltHSL));
    padding: calc(var(--defaultGap) * 1.5) var(--defaultGap);
    width: calc(100% - 2 * var(--defaultGap));
    height: 100%;
    pointer-events: none;
    color: hsl(var(--appBackgroundHSL));
    font-weight: 700;
    font-size: 90%;
    font-family: 'Abel', 'Segoe UI', 'Helvetica Neue';
    text-align: center;
}

work item span img {
    display: block;
    margin: 0 10px 18px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    width: unset;
    height: 18px;
    /* background-position: 10px 10px; */
}

work item.microsoft company {
    background-image: url(../images/ms-icon.png);
}

work item:focus span,
work item:hover span {
    /* color: hsl(var(--appForegroundHSL)); */
    background-color: hsl(var(--appBackgroundDarkestHSL));
}

work span i {
    display: block;
    opacity: .8;
    padding: 3px 4px 0px;
    font-weight: normal;
}

.attribution {
    display: block;
    margin: 5px 0px 0px 0px;
    text-indent: 0px;
    /* text-transform: var(--textTransform); */
}

.attribution a {
    font-weight: 700;
    /* text-transform: var(--textTransform); */
}

.clearBoth {
    display: block;
    clear: both;
    height: 0px;
    overflow: hidden;
}

montage {
    display: block;
    gap: var(--defaultGap);
    columns: 4;
    margin: var(--defaultGap) 0 0;
}

logosoup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background: white; */
    align-items: baseline;
    gap: var(--defaultGap);
    margin: var(--defaultGap) 0;
    border-radius: var(--borderRadius);
    padding: var(--defaultGap);
}

logosoup logo {
    display: flex;
    flex: 0 0 calc(18% - 2 * var(--defaultGap));
    justify-content: center;
    align-items: center;
    border-radius: var(--borderRadius);
    background-position: center center;
    background-size: auto 30px;
    background-repeat: no-repeat;
    padding: calc(var(--defaultGap) / 4) 0;
    min-width: 120px;
    /* background: white; */
    height: 30px;
}

/* logosoup logo img {
    border-radius: none;
    width: unset;
    height: 30px;
    margin: 0;
    padding: 0;

} */
montage img {
    /* display: inline-block; */
    cursor: default;
    margin: 0 0 10px 0;
    border-radius: var(--borderRadius);
    width: 100%;
    height: auto;
    overflow: hidden;
}

/* montage:hover {
    filter: none;
} */
footer {
    display: flex;
    /* font-family: 'Terminal Dosis'; */
    position: fixed;
    bottom: 0px;
    justify-content: end;
    align-items: center;
    border-top: 1px solid rgba(223, 223, 229, 1);
    background: rgba(135, 135, 139, 1);
    padding: 0;
    width: 100%;
    min-width: 377px;
    height: var(--footerHeight);
    color: #444;
    font-size: 62%;
    text-align: right;
    text-indent: -2px;
    text-transform: var(--textTransform);
}

footer button {
    color: white;
}

footer button.linkedIn {
    background-image: url(../images/linkedin_16_shadow_off.png);
}

footer button.email {
    margin-left: 52px;
    background-image: url(../images/email_16_shadow_off.png);
}

footer button.accessibility {
    margin-right: 52px;
    background-image: url(../images/accessibility_16_shadow_off.png);
}

footer button {
    display: inline-block;
    background-color: rgba(0, 0, 0, .4);
    padding: 0px;
    -webkit-transition-property: background-color, -webkit-transform;
    opacity: .9;
    transition-property: background-color, transform;
    margin: 0px 7px 0px 0px;
    border: none;
    background-position: -26px 0px;
    background-repeat: no-repeat;
    width: 87px;
    height: 26px;
    text-indent: -10000px;
}

footer button:hover,
footer button:focus,
footer button:active {
    opacity: 1;
    outline: none;
    border: none;
    background-position: -26px 0px;
    background-color: hsl(var(--linkColorHSL));
}

@media screen and (max-width:1294px) {

    modal close,
    modal next {
        right: 10px;
        margin-right: 0px;
    }
}

@media screen and (max-width:768px) {
    work item {
        width: calc(50% - var(--defaultGap));
    }
}

@media screen and (max-width:640px) {
    body {
        height: 100%;
        overflow: visible;
        overflow-x: hidden;
        font-size: 1.35em;
    }

    app {
        height: auto;
        overflow: unset;
        overflow-x: hidden;
    }

    footer {
        position: relative;
    }

    wrapper {
        height: auto;
        overflow: unset;
        overflow-x: hidden;
    }

    article {
        overflow: unset;
    }

    work a {
        margin-bottom: 60px;
    }

    work item {
        width: 100%;
        /* height: 313px; */
    }

    work button {
        width: 100%;
        /* height: calc(100vw * .402 - 15px) */
    }

    section.reference {
        padding: 0px;
    }

    section.reference p {
        margin-right: 0px;
        width: auto;
        min-width: 275px;
        max-width: 960px;
    }

    header {
        position: relative;
        margin-top: 43px;
        margin-right: var(--defaultGap);
        margin-left: var(--defaultGap);
        padding: 10px;
    }

    article {
        margin-top: 0px;
        padding-top: 0px;
    }

    header.compact {
        display: block;
        gap: 0px;
    }

    blockquote {
        padding: 0;
    }

    .compact nav {
        margin-top: 40px;
        margin-left: 0px;
        padding: 0;
    }

    section.reference p {
        height: auto;
    }

    section.intro {
        padding-right: 0px;
    }

    article {
        padding-right: 30px;
        padding-left: 30px;
    }

    footer {
        justify-content: start;
        /* border: none; */
        border-color: hsla(var(--appBackgroundDarkestHSL), .3);
        background: hsla(var(--appBackgroundDarkerHSL));
        background: linear-gradient(0deg, hsla(var(--appBackgroundHSL), 1), hsla(var(--appBackgroundDarkerHSL), 1));
        padding: calc(var(--defaultGap) / 2) 0;
        text-align: left;
        /* position: relative; */
    }

    footer button.email {
        margin-left: 30px;
    }

    footer button.accessibility {
        margin-right: 30px;
    }

    h1 {
        margin: 14px 0 var(--defaultGap) 0;
        font-size: 134%;
    }

    modal {
        overflow-x: hidden;
    }

    modal intro,
    modal container {
        margin: 0;
        width: calc(100%);
    }

    modal intro {
        flex-direction: column;
        margin-bottom: var(--defaultGap);
    }

    modal close,
    modal next {
        top: 10px;
        right: 10px;
        margin-right: 0px;
        font-size: 90%;
    }

    modal next {
        display: none;
        right: 60px;
    }

    modal intro img {
        display: block;
    }

    modal ul,
    modal ol {
        /* margin-left: 40px; */
        width: calc(100% - 40px);
    }

    intro ul {
        width: 100%;
    }

    container.dark {
        margin: var(--defaultGap) 0px;
        border-radius: 0px;
        padding: var(--defaultGap) 30px 0px;
    }

    montage {
        gap: calc(var(--defaultGap) / 2);
        columns: 2;
    }

    montage img {
        margin: 0 0 2px 0;
    }
}

@media screen and (max-width: 880px) {
    section.columnize {
        columns: 1;
    }
}

@media screen and (max-device-width:320px) {
    body {
        overflow: auto;
        font-size: 1.5em;
    }
}