@font-face {
    font-family: 'Abel';
    src: url('../fonts/Abel-Regular.ttf');
}

:root {
    --appBackgroundHSL: 240, 10%, 89%;
    --appBackgroundDarkerHSL: 240, 10%, 84%;
    --appBackgroundDarkestHSL: 240, 10%, 44%;
    --appBackgroundAltHSL: 240, 10%, 34%;
    --appForegroundHSL: 240, 10%, 19%;
    --quoteHSL: 90, 100%, 80%;
    --linkColorHSL: 209, 79%, 40%;

    --footerHeight: 40px;
    --defaultGap: 20px;
    --borderRadius: 6px;
}

html {
    min-height: 100%;
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
    font-family: 'Abel', 'Segoe UI', 'Helvetica Neue';
    font-size: 1.3em;
    color: hsl(var(--appForegroundHSL));
    line-height: 1.3em;
    margin: 0px 0px;
    background: hsl(var(--appBackgroundHSL));
    /* background: linear-gradient(180deg, hsla(var(--appBackgroundHSL), 1) calc(100% - 100px), hsla(var(--appBackgroundDarkerHSL), 1) 100%); */
    /* background-attachment: fixed; */
    text-wrap: supressed;
    word-wrap: break-word;
    width: 100%;
    height: 100%;
    display: block;
}

app {
    overflow: hidden;
    overflow-y: visible;
    height: 100%;
    display: flex;
    flex-direction: column;
}


wrapper {
    /* overflow: hidden; */
    height: auto;
    width: 100%;
    max-width: 1124px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

[v-cloak] {
    transition: 0ms ease-out opacity;
    opacity: 0;
}

button {
    font-family: 'Abel', 'Segoe UI', 'Helvetica Neue';
    font-size: 75%;
    cursor: pointer;
}

modal, onionskin {
    display: flex;
    flex-direction: column;
    opacity: 0;
    max-height: 100%;
    pointer-events: none;
    position: fixed;
    top: 0;
    padding: 40px 30px;
    width: calc(100% - 60px);
    height: calc(100% - 80px);
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: start;
    align-items: center;
    background: linear-gradient(180deg, hsla(var(--appBackgroundHSL), 1) 10px, hsla(var(--appBackgroundDarkerHSL), 1) 100px);
    transition: 250ms ease-out all;
    z-index: 200;
}


article::-webkit-scrollbar, modal::-webkit-scrollbar, onionskin::-webkit-scrollbar {
    display: none;

    -ms-overflow-style: none;
    scrollbar-width: none;

    touch-action: auto;
    scroll-behavior: smooth;
}

.disabled {
    pointer-events: none;
    opacity: .3;
}

onionskin {
    background: hsla(var(--appForegroundHSL), .9);
    z-index: 300;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: center;
    align-items: start;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

onionskin.zoomfits {
    align-items: center;
}

modal close, onionskin close {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    background: hsla(var(--linkColorHSL), 1);
    color: white;
    position: fixed;
    top: 10px;
    margin-right: -4px;
    box-shadow: 0px 1px 4px hsla(var(--appBackgroundDarkestHSL), .4);
    cursor: pointer;
    overflow: hidden;
    transition: 200ms ease-in-out all;
    background-image: url('../images/icon_close.svg');
    background-repeat: no-repeat;
    background-position: 13px center;
    background-size: 14px 14px;
}

onionskin close {
    /* top: 14px; */
    /* width: 100px; */
    background-color: hsla(var(--appBackgroundDarkestHSL));
    box-shadow: 0px 1px 4px hsla(var(--appForegroundHSL), .9);
}

modal close:hover, onionskin close:hover {
    width: 100px;
    background-position: 16px center;
}

modal close:before, onionskin close:before {
    text-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 0px 10px;
    margin-top: 2px;
    display: block;
    width: 20px;
    font-size: 20px;
    content: '';
}

modal close:after, onionskin close:after {
    display: flex;
    text-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 0;
    content: 'close';
    justify-content: center;
    align-items: center;
    font-size: 75%;
    line-height: 100%;
    margin-top: 2px;
    opacity: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 200ms ease-in-out all;
}


modal close:hover:after, onionskin close:hover:after {
    opacity: 1;
}

h1, h2, h3, h4 {
    text-transform: lowercase;

}

h1, h2, h3, h4, p, ul, ol, intro ul {
    /* color: white; */
    padding: 0px 0 0 0;
    margin: 0 0 var(--defaultGap) 0;
    /* max-width: 1024px; */
    font-weight: normal;
    width: 100%;
    max-width: 650px;
    text-align: left;
}

ul, ol {
    margin-left: 40px;
}

intro ul {
    padding: 0;
}

h1 span {
    display: inline-block;
    font-size: 48%;
    padding: 0px;
    line-height: 116%;
    /* border-bottom: 1px solid hsl(var(--appForegroundHSL)); */
    /* transform: translateY(-5px); */
}

h1, h2 {
    margin: var(--defaultGap) 0;

}


h3, h4 {
    margin: 10px 0;

}

ul, ol {
    font-size: 75%;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

intro ul {
    list-style: none;
    font-size: 60%;
    width: auto;
    margin-bottom: 0px;
}

intro ul li {
    margin: 0 0 1px 0;
    padding: 0;
    display: flex;
    gap: 0;
    flex-wrap: wrap;
    line-height: 130%;
    /* font-family: monospace; */
    font-size: 90%;
    border-radius: 4px;
    overflow: hidden;
    /* border-bottom: 1px solid rgba(0, 0, 0, .1); */
}

intro ul li span {
    background: rgba(255, 255, 255, .2);
    /* border: 1px solid rgba(0, 0, 0, .2); */
    /* border-width: 1px 1px 1px 0; */
    font-style: normal;
    font-weight: normal;
    padding: 5px 14px 4px 9px;
    display: inline-block;
    /* border-radius: 0px 4px 4px 0px; */
    flex-grow: 1;
}

intro ul li span:first-of-type {
    font-size: 90%;
    /* border-radius: 4px 0 0 4px; */
    background: hsla(var(--appBackgroundDarkestHSL), 1);
    border-color: hsla(var(--appBackgroundDarkestHSL), .3);
    border-width: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    white-space: nowrap;
    flex-grow: 0;
    width: 40px;
    /* text-align: right; */
    /* border-right: 1px solid rgba(0, 0, 0, .2); */
    /* border-bottom: 1px solid rgba(0, 0, 0, .1); */
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
}

modal description {
    font-size: 100%;
    width: 100%;
}

h1 {
    font-size: 130%;
    margin: 0 0 var(--defaultGap) 0;
    max-width: 1024px;
}

h2 {
    font-size: 120%;
}

h3 {
    font-size: 110%;
}

modal button {
    outline: none;
    border: none;
    display: inline-block;
    font-size: 100%;
    background: none;
    color: hsl(var(--linkColorHSL));
    font-weight: normal;
    font-style: inherit;
    padding: 0;
    text-align: left;

}

modal intro, modal container, modal chrome, onionskin chrome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
    max-width: 1024px;
    font-size: 100%;
}

modal container {
    display: block;
}

modal blockquote {
    font-size: 75%;
    padding: 0;
    margin: inherit;
    font-style: italic;
    color: hsl(var(--quoteHSL));
}

modal blockquote span {
    display: inline-block;
    font-style: normal;
    color: hsl(var(--appBackgroundHSL));
}

onionskin chrome {
    max-width: unset;
}

container.dark {
    background-color: hsl(var(--appBackgroundAltHSL));
    border-radius: var(--borderRadius);
    color: hsl(var(--appBackgroundHSL));
    margin: var(--defaultGap);
    padding: var(--defaultGap) 40px;
}

container.dark a {
    color: hsl(var(--appBackgroundHSL));
}

container.dark img, container.dark iframe {
    padding-bottom: 0px;
    margin-bottom: 10px;

}

container.dark img {
    /* width: calc(100% - 0px); */
    height: auto;
}

container.dark img+lead, container.dark iframe+lead {
    padding-top: 10px;

}

modal chrome {
    align-items: end;
}

modal container lead {
    display: block;
    width: 100%;
}

modal.show, onionskin.show {
    opacity: 1;
    pointer-events: all;
}

modal img, modal video, modal iframe {
    width: 100%;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: var(--borderRadius);
    margin-top: 10px;
    margin-bottom: var(--defaultGap);
    overflow: hidden;
}

modal img {
    cursor: pointer;
}

onionskin img {
    height: 90%;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0);
    border: none;
    border-radius: var(--borderRadius);
    overflow: auto;
    margin: 0;
}

modal intro {
    display: flex;
    gap: var(--defaultGap);
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    margin-bottom: var(--defaultGap);
}

modal intro img {
    /* display: none; */
    width: 100%;
    max-width: 328px;
    margin: 0px;
    box-shadow: none;
}

modal iframe {
    height: calc(100vw * .5625);
    max-height: 576px;
    margin-bottom: 40px;
    background: black;
}

/* modal a.linkedin:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/In-Blue-72.png) no-repeat;
    background-size: 20px 20px;
    background-position: 4px left;
} */

modal controls {
    width: 100%;
    display: flex;
    gap: calc(var(--defaultGap) * 4);
    flex-direction: start;
    max-width: 1024px;
    padding-top: calc(var(--defaultGap) * 2);
    justify-content: space-between;
}


.attribution a {
    /* font-family: 'Terminal Dosis'; */
    font-weight: 700;
}

button,
a,
img,
h2,
button,
work button span {
    -webkit-transition-property: margin, color, background-color, border, padding, opacity, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    -webkit-transition-timing-function: ease-out;
    transition-property: margin, color, background-color, border, padding, opacity, transform;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
}

a {
    outline: none;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #aaa;
    cursor: pointer;
}

a:hover,
a:focus,
a:active {
    outline: none;
    color: #000;
    border-bottom: 1px solid #666;
    background: transparent
}

a:focus img,
a:active img {
    border-color: #008CFF;
}

a:focus,
a:active {
    color: #008CFF;
    border-color: #008CFF;
}

p, blockquote {
    padding: 0px 0px 0 0;
    margin: 0px 0px 10px 0px;
    font-size: 75%;
    max-width: 650px;
}

article ul,
article ol {
    padding: 0px;
    margin: 0px 0px 10px 0px;
    font-size: 75%;
    list-style: none;
}

article ul span {
    display: inline-block;
    width: 24px;
    margin-right: var(--defaultGap);
    font-weight: bold;
    text-align: left;
}

img {
    border: none;
    border-bottom: 1px solid rgba(223, 223, 229, 0);
    margin: 0px 0px 10px 0px;
}

article,
section,
header,
nav,
canvas {
    margin: 0px 50px;
    display: block;
    -webkit-transition-property: background-color, opacity;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-property: background-color, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

header.compact {
    display: flex;
    gap: 60px;
}

nav {
    margin: 0px;
}

article {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    padding: 180px 50px 40px 50px;
    margin: 0px;
    opacity: 0;
    clear: both;
    margin-bottom: var(--footerHeight);
    overflow: auto;
}

header {
    width: 100%;
    max-width: 1024px;
    padding-top: 40px;
    position: fixed;
    background: hsla(var(--appBackgroundHSL), .95);
    backdrop-filter: blur(15px);
}

header h1 {
    font-size: 130%;
    padding: 0px;
    margin: 0px 0px 25px 0px;
    font-weight: normal;
    color: #000;
}

header h1 a,
header h1 {
    color: #000;
    border: rgba(223, 223, 229, 0) solid 0px;
    border-width: 1px 0px;
}

header h1 a:hover,
header h1 a:active {
    outline: none;
    color: #000;
    border-color: rgba(223, 223, 229, 0);
}

header h1 a:focus {
    color: #008CFF;
    border-color: #008CFF;
}

nav {
    margin-top: 40px;
    margin-bottom: var(--defaultGap);
    border-bottom: 1px solid rgba(223, 223, 229, 0);
}

.compact nav {
    margin-top: 1px;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    min-height: 28px;
}

nav li {
    display: inline;
    padding: 0px;
    margin: 0px;
}

nav a {
    display: inline-block;
    margin: 0px var(--defaultGap) 0px 0px;
    border-top: 1px solid rgba(223, 223, 229, 0);
    text-transform: uppercase;
}

nav a:hover,
nav a:active, nav a:focus {
    outline: none;
    color: #000;
    border-bottom-color: #000;
    border-top-color: rgba(223, 223, 229, 0);
}

nav a.on {
    border-top: 1px solid #000;
    padding-bottom: 0px;
    border-bottom-color: rgba(223, 223, 229, 0);
}


section {
    margin: 0px;
    padding: 0px;
}

section.columnize {
    columns: 2;
    column-gap: 20px;
}

section.reference {
    padding: 0px;
    font-size: 90%;
    margin-right: 0px;
    display: flex;
    flex-direction: row;
    gap: var(--defaultGap);
    width: 100%;
    flex-wrap: wrap;
}

section.reference p {
    line-height: 150%;
    width: calc(33% - var(--defaultGap));
    padding: 0px;
    text-indent: -4px;
    /* margin: 0px 20px 20px 0px; */
    background: rgba(255, 255, 255, 0);
}

section.reference a {
    border-color: transparent;
}

section.reference a:hover {
    border-color: #666;
}

section.intro {
    padding: 0px 0px var(--defaultGap) 0px;
}

group {
    width: 100%;
    display: block;
    padding-bottom: var(--defaultGap);
}

group work {
    display: flex;
    gap: var(--defaultGap);
    flex-wrap: wrap;
}

work button {
    outline: none;
    overflow: hidden;
    background-size: cover;
    width: 328px;
    height: 132px;
    display: block;
    font-size: 80%;
    float: left;
    padding: 0px;
    line-height: 100%;
    /* margin: 0px 20px 20px 0px; */
    border: none;
    text-align: center;
    border-radius: var(--borderRadius);
    font-weight: 800;
    cursor: pointer;
}

work button:focus {
    color: rgba(223, 223, 229, 0);
    border-color: #008CFF;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

work span {
    background: hsla(var(--appBackgroundHSL), .98);
    pointer-events: none;
    font-family: 'Abel', 'Segoe UI', 'Helvetica Neue';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    font-size: 90%;
    color: #000;
    opacity: 0;
    width: 100%;
    height: 100%;
    margin-left: 0px;
    /* transition-delay: 200ms; */
    -webkit-transform: translate(0px, -75px) scale(1.05, 1.05);
    transform: translate(0px, -75px) scale(1.05, 1.05);
    font-weight: 700;
}

work button:focus span,
work button:hover span {
    /* transition-delay: 0ms; */
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
}

work span i {
    opacity: .6;
    padding-top: 3px;
    display: block;
    font-weight: normal;
}

.attribution {
    margin: 5px 0px 0px 0px;
    display: block;
    text-indent: 0px;
    text-transform: lowercase;
}

.attribution a {
    font-weight: 700;
    text-transform: lowercase;
}

.clearBoth {
    display: block;
    clear: both;
    height: 0px;
    overflow: hidden;
}

montage {
    margin: var(--defaultGap) 0 0;
    display: block;
    columns: 4;
    /* column-fill: auto; */
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-auto-rows: minmax(auto, auto); */
    gap: var(--defaultGap);
    /* filter: grayscale(); */
    /* transition: 200ms ease-out all; */
}

montage img {
    border-radius: var(--borderRadius);
    overflow: hidden;
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
    /* display: inline-block; */
    cursor: default;

}

/* montage:hover {
    filter: none;
} */

footer {
    min-width: 377px;
    /* font-family: 'Terminal Dosis'; */
    position: fixed;
    width: 100%;
    height: var(--footerHeight);
    bottom: 0px;
    padding: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    border-top: 1px solid rgba(223, 223, 229, 1);
    font-size: 62%;
    text-align: right;
    color: #444;
    background: rgba(135, 135, 139, 1);
    text-transform: lowercase;
    text-indent: -2px;
}

footer button {
    color: white;
}

footer button.linkedIn {
    background-image: url(../images/linkedin_16_shadow_off.png);
}

footer button.email {
    background-image: url(../images/email_16_shadow_off.png);
    margin-left: 52px;
}

footer button.accessibility {
    background-image: url(../images/accessibility_16_shadow_off.png);
    margin-right: 52px;
}

footer button {
    display: inline-block;
    background-color: rgba(0, 0, 0, .4);
    padding: 0px;
    -webkit-transition-property: background-color, -webkit-transform;
    transition-property: background-color, transform;
    border: none;
    background-position: -26px 0px;
    background-repeat: no-repeat;
    width: 87px;
    height: 26px;
    margin: 0px 7px 0px 0px;
    text-indent: -10000px;
    opacity: .9;
}

footer button:hover,
footer button:focus,
footer button:active {
    outline: none;
    border: none;
    background-color: hsl(var(--linkColorHSL));
    background-position: -26px 0px;
    opacity: 1;
}

@media screen and (max-width:640px) {
    body {
        font-size: 1.35em;
        overflow: visible;
        overflow-x: hidden;
        height: 100%;
    }

    app {
        overflow: unset;
        overflow-x: hidden;
        height: auto;
    }

    footer {
        position: relative;
    }

    wrapper {
        height: auto;
        overflow: unset;
        overflow-x: hidden;
    }

    article {
        overflow: unset;
    }

    work a {
        margin-bottom: 60px;
    }

    work button {
        width: 100%;
        height: calc(100vw * .402 - 25px)
    }

    section.reference {
        padding: 0px;
    }

    section.reference p {
        max-width: 960px;
        width: auto;
        margin-right: 0px;
        min-width: 275px;
    }

    header {
        padding: 10px;
        margin-left: var(--defaultGap);
        margin-right: var(--defaultGap);
        position: relative;
        margin-top: 43px;
    }

    article {
        margin-top: 0px;
        padding-top: 0px;
    }

    header.compact {
        display: block;
        gap: 0px;
    }

    .compact nav {
        margin-top: 40px;
        margin-left: 0px;
        padding: 0;
    }

    section.reference p {
        height: auto;
    }

    section.intro {
        padding-right: 0px;
    }

    article {
        padding-left: 30px;
        padding-right: 30px;
    }

    footer {
        text-align: left;
        justify-content: start;
        /* border: none; */
        border-color: hsla(var(--appBackgroundDarkestHSL), .3);
        background: hsla(var(--appBackgroundDarkerHSL));
        background: linear-gradient(0deg, hsla(var(--appBackgroundHSL), 1), hsla(var(--appBackgroundDarkerHSL), 1));
        padding: calc(var(--defaultGap) / 2) 0;
        /* position: relative; */
    }

    footer button.email {
        margin-left: 30px;
    }

    footer button.accessibility {
        margin-right: 30px;
    }

    modal {
        overflow-x: hidden;
    }

    modal intro, modal container {
        width: calc(100%);
        margin: 0;
    }

    modal intro {
        flex-direction: column-reverse;
        margin-bottom: var(--defaultGap);
    }

    modal close {
        top: 10px;
        right: 10px;
        font-size: 90%;
        margin-right: 0px;
    }

    modal intro img {
        display: block;
    }


    modal ul, modal ol {
        /* margin-left: 40px; */
        width: calc(100% - 40px);
    }

    intro ul {
        width: 100%;
    }

    container.dark {
        border-radius: 0px;
        margin: var(--defaultGap) 0px;
        padding: var(--defaultGap) 30px 0px;
    }

    montage {
        columns: 2;
        gap: calc(var(--defaultGap) / 2);

    }

    montage img {
        margin: 0 0 2px 0;
    }

}

@media screen and (max-width: 880px) {
    section.columnize {
        columns: 1;
    }
}

@media screen and (max-device-width:320px) {
    body {
        font-size: 1.5em;
        overflow: auto;
    }
}