body {
	background: #fff;
	font: 9px Arial;
	overflow: hidden;
	-webkit-transform-origin: 0% 0%;
	-webkit-transition-duration: 0s;
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transform: scale(1, 1);
	transform-origin: 0% 0%;
	transition-duration: 0s;
	transition-property: transform;
	transition-timing-function: ease-in-out;
	transform: scale(1, 1);
}

g, r {
	display: block;
}

g, r, div {
	-webkit-transform-origin: 50% 50%;
	-webkit-transition-duration: 0s;
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-timing-function: ease-in-out;
	transform-origin: 50% 50%;
	transition-duration: 0s;
	transition-property: transform;
	transition-timing-function: ease-in-out;
}

table, tr, td, div, g, r {
	padding: 0px;
	margin: 0px;
}

#interaction r {
	cursor: default;
}

#interaction r:hover {
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
	border-color: rgba(255, 255, 255, 1);
}

#interaction r.empty:hover, #interaction r.alt:hover {
	box-shadow: none;
	border-color: none;
}

#allNumbers {
	margin-left: 4px;
	width: 22px;
}

.numberOn {
	line-height: 15px;
	width: 20px;
	height: 15px;
	vertical-align: middle;
	border: 1px solid #bbb;
	margin: 0px 0px 2px 0px;
}

.numberOn a {
	color: #fff;
	display: block;
	text-decoration: none;
	cursor: pointer;
	background: #bbb;
	padding: 0px;
	margin: 0px;
}

.numberOn a:hover {
	display: block;
	text-decoration: none;
	cursor: pointer;
	background: #ccc;
}

.number {
	line-height: 15px;
	width: 20px;
	height: 15px;
	vertical-align: middle;
	border: 1px solid #bbb;
	margin: 0px 0px 2px 0px;
}

.number a {
	color: #666;
	display: block;
	text-decoration: none;
	cursor: pointer;
	background: #fff;
	padding: 0px;
	margin: 0px;
}

.number a:hover {
	color: #fff;
	background: #bbb;
}

div, g, r {
	vertical-align: middle;
	text-align: center;
	line-height: 19px;
}

#grid, #mainRoom, #interaction {
	margin: 0px 0px 0px 10px;
	padding: 10px;
	position: absolute;
}

#grid {
	display: none;
	z-index: 10;
}

#mainRoom {
	/* background: url(normalImages/marble.jpg) no-repeat center center;
*/
	z-index: 1400;
}

#interaction {
	z-index: 1400;
}

.pR {
	margin: 0px;
}

#grid, #interaction {
	width: 640px;
}

#grid g, #interaction r {
	float: left;
}

#grid .rightMostCell {
	margin: 0px;
	width: 19px;
	height: 19px;
	border: 1px solid #ddd;
	border-width: 0px 0px 1px 0px;
}

#grid .bottomCell {
	margin: 0px;
	width: 19px;
	height: 19px;
	border: 1px solid #ddd;
	border-width: 0px 1px 0px 0px;
}

#grid g {
	margin: 0px;
	width: 19px;
	height: 19px;
	border: 1px solid #ddd;
	border-width: 0px 1px 1px 0px;
}

#roomTable .aR {
	position: relative;
	margin: 0px;
	width: 17px;
	height: 17px;
	margin: 0px 1px 1px 0px;
	border: 1px solid transparent;
}

#interaction r {
	position: relative;
	margin: 0px;
	width: 17px;
	height: 17px;
	margin: 0px 1px 1px 0px;
	border: 1px solid transparent;
}

#interaction .tpHighlight {
	position: relative;
	background: rgba(0, 255, 0, 1);
}

#interaction .tpEndHighlight {
	position: relative;
	background: #ff0000;
}

#interaction r {
	position: relative;
}

#highlight {
	position: absolute;
	left: 0px;
	top: 0px;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	display: none;
	border: 1px solid rgba(255, 255, 255, 0);
	color: rgba(0, 0, 0, 1);
	text-shadow: 0px 0px 5px rgba(0, 255, 0, 1);
}

#endHighlight {
	position: absolute;
	cursor: pointer;
	left: 0px;
	top: 0px;
	font-size: 12px;
	display: none;
	border: 1px solid #bb0000;
	background: #ff0000;
}

#info {
	margin-top: 0px;
	margin-left: 4px;
	width: 120px;
	position: absolute;
	left: 640px;
	top: 29px;
	padding: 0px;
	vertical-align: top;
	text-align: left;
	line-height: 13px;
}

#info a {
	text-decoration: none;
}

#coor, #TPs, #roomInfo {
	width: 120px;
	margin-bottom: 20px;
	line-height: 22px;
	vertical-align: top;
	padding: 3px 10px 3px 10px;
	font-size: 12px;
	border: 1px solid #999;
	text-align: left;
}

#roomInfo {
	height: 70px;
}

#TPs p {
	margin: 0px;
	font-size: 10px;
}

#endCoor {
	width: 120px;
	margin-bottom: 20px;
	line-height: 22px;
	vertical-align: top;
	padding: 3px 10px 3px 10px;
	font-size: 12px;
	border: 1px solid #999;
	text-align: left;
}

#difference {
	width: 120px;
	line-height: 22px;
	vertical-align: top;
	padding: 3px 10px 3px 10px;
	font-size: 12px;
	border: 1px solid #999;
	text-align: left;
}

#menu {
	position: absolute;
	left: 0px;
	top: 0px;
	display: none;
	padding: 4px 0px 4px 0px;
	border: 1px solid #7b879a;
	background: #eee;
	text-align: left;
	color: #000;
	text-transform: uppercase;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: rgba(0, 0, 0, .5) 4px 4px 10px;
	opacity: .98;
}

#menu div {
	width: 120px;
	padding: 2px 5px 0px 5px;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	text-align: left;
	cursor: pointer;
}

#menu div:hover {
	background: #d1d8ba;
}

#menu a {
	cursor: pointer;
}

#menu p {
	text-align: right;
	display: block;
	padding: 0px 5px 0px 5px;
	margin: 0px;
}

#roomTable .bs {
	z-index: 500;
	width: 5px;
	height: 1px;
	border: 1px solid #000;
	position: absolute;
	margin: 18px 5px 0px 6px;
	background: #fff;
}

#roomTable .rs {
	z-index: 500;
	width: 1px;
	height: 5px;
	border: 1px solid #000;
	position: absolute;
	margin: 6px 0px 5px 18px;
	background: #fff;
}

/*
#roomTable .v {
	z-index: 500;
	width: 20px;
	height: 3px;
	position: absolute;
	margin: 18px 0px 0px 0px;
	background: transparent url(normalImages/bdfull.png) no-repeat center center;
}
#roomTable .j {
	z-index: 500;
	width: 3px;
	height: 20px;
	position: absolute;
	margin: 0px 0px 0px 18px;
	background: transparent url(normalImages/rdfull.png) no-repeat center center;
}
*/
#roomTable .v {
	z-index: 500;
	width: 5px;
	height: 3px;
	border: 1px solid #000;
	position: absolute;
	border-width: 0px 1px 0px 1px;
	position: absolute;
	margin: 18px 5px 0px 6px;
	background: transparent url(normalImages/bd.png) no-repeat center center;
}

#roomTable .j {
	z-index: 500;
	width: 3px;
	height: 5px;
	border: 1px solid #000;
	position: absolute;
	border-width: 1px 0px 1px 0px;
	position: absolute;
	margin: 6px 0px 5px 18px;
	background: transparent url(normalImages/rd.png) no-repeat center center;
}

#roomTable .r {
	width: 19px;
	height: 20px;
	border: 1px solid #000;
	position: absolute;
	border-width: 0px 1px 0px 0px;
}

#roomTable .b {
	width: 20px;
	height: 19px;
	border: 1px solid #000;
	position: absolute;
	border-width: 0px 0px 1px 0px;
}

#roomTable .u {
	width: 19px;
	height: 19px;
	border: 1px solid #000;
	position: absolute;
	border-width: 0px 1px 1px 0px;
}

#roomTable .noW, #roomTable .h, #roomTable .s, #roomTable .la, #roomTable .ra, #roomTable .da, #roomTable .ua, #roomTable .ds, #roomTable .us, #roomTable .utp, #roomTable .dtp, #roomTable .rtp, #roomTable .tp1, #roomTable .tp2, #roomTable .tp3, #roomTable .tp4, #roomTable .tp5, #roomTable .ext, #roomTable .d, #roomTable .k, #roomTable .p, #roomTable .c1, #roomTable .c2, #roomTable .c3, #roomTable .sp, #roomTable .bl, #roomTable .n, #roomTable .traps, #roomTable .gt, #roomTable .dg, #roomTable .sl, #roomTable .st, #roomTable .i {
	width: 20px;
	height: 20px;
	position: absolute;
}

#roomTable r {
	width: 20px;
	height: 20px;
	position: absolute;
	background: transparent;
}

#roomTable .h {
	background: url(normalImages/h2o.png)
}

#roomTable .s {
	background: url(normalImages/sand.png)
}

#roomTable .la {
	background: url(normalImages/larrow.png)
}

#roomTable .ra {
	background: url(normalImages/rarrow.png)
}

#roomTable .da {
	background: url(normalImages/darrow.png)
}

#roomTable .ua {
	background: url(normalImages/uarrow.png)
}

#roomTable .ds {
	background: url(normalImages/dstairs.png)
}

#roomTable .us {
	background: url(normalImages/ustairs.png)
}

#roomTable .utp {
	background: url(normalImages/utp.png)
}

#roomTable .dtp {
	background: url(normalImages/dtp.png)
}

#roomTable .rtp {
	background: url(normalImages/rtp.png)
}

#roomTable .tp1 {
	background: url(normalImages/tp1.png)
}

#roomTable .tp2 {
	background: url(normalImages/tp2.png)
}

#roomTable .tp3 {
	background: url(normalImages/tp3.png)
}

#roomTable .tp4 {
	background: url(normalImages/tp4.png)
}

#roomTable .tp5 {
	background: url(normalImages/tp5.png)
}

#roomTable .ext {
	background: url(normalImages/ext.png)
}

#roomTable .d {
	background: url(normalImages/dark.png)
}

#roomTable .k {
	background: #222
}

#roomTable .p {
	background: url(normalImages/pit.png)
}

#roomTable .c1 {
	background: url(normalImages/chute1.png)
}

#roomTable .c2 {
	background: url(normalImages/chute2.png)
}

#roomTable .c3 {
	background: url(normalImages/chute3.png)
}

#roomTable .sp {
	background: url(normalImages/spin.png)
}

#roomTable .bl {
	background: url(normalImages/bl.png)
}

#roomTable .n {
	background: url(normalImages/non.png)
}

#roomTable .traps {
	background: url(normalImages/traps.png)
}

#roomTable .gt {
	background: url(normalImages/gt.png)
}

#roomTable .dg {
	background: url(normalImages/dragon.png)
}

#roomTable .sl {
	background: url(normalImages/sl.png)
}

#roomTable .st {
	background: url(normalImages/stud.png)
}

#roomTable .i {
	background: url(normalImages/ill.png)
}

#theInfoBox {
	display: none;
	border: 1px solid #000;
	background: #fff;
	opacity: .95;
	background: #efefef;
	padding: 20px;
	position: absolute;
	left: 59px;
	top: 29px;
	width: 559px;
	height: 559px;
	z-index: 1600;
	text-align: left;
	font-size: 12px;
	line-height: 17px;
}

li {
	margin-bottom: 12px;
}

#interaction .theI {
	color: #f00;
	position: relative;
	margin: 0px;
	width: 20px;
	height: 20px;
}

#legend {
	border: solid 1px #000;
	background: #fff;
	z-index: 601;
	position: absolute;
	left: 160px;
	width: 151px;
	top: 0px;
	border-width: 1px 0px 0px 1px;
	display: none;
}

#legend g, #legend r {
	text-align: left;
	float: left;
	width: 19px;
	height: 19px;
	border: 1px solid #000;
	border-width: 0px 1px 1px 0px;
}

#legend r {
	width: 125px;
	padding-left: 5px;
}

#legend .theText {
	text-align: left;
	width: 130px;
	height: 19px;
}

#legend .h {
	background-image: url(normalImages/h2o.png)
}

#legend .s {
	background-image: url(normalImages/sand.png)
}

#legend .la {
	background-image: url(normalImages/larrow.png)
}

#legend .ra {
	background-image: url(normalImages/rarrow.png)
}

#legend .da {
	background-image: url(normalImages/darrow.png)
}

#legend .ua {
	background-image: url(normalImages/uarrow.png)
}

#legend .ds {
	background-image: url(normalImages/dstairs.png)
}

#legend .us {
	background-image: url(normalImages/ustairs.png)
}

#legend .utp {
	background-image: url(normalImages/utp.png)
}

#legend .dtp {
	background-image: url(normalImages/dtp.png)
}

#legend .rtp {
	background-image: url(normalImages/rtp.png)
}

#legend .tp1 {
	background-image: url(normalImages/tp1.png)
}

#legend .tp2 {
	background-image: url(normalImages/tp2.png)
}

#legend .tp3 {
	background-image: url(normalImages/tp3.png)
}

#legend .tp4 {
	background-image: url(normalImages/tp4.png)
}

#legend .tp5 {
	background-image: url(normalImages/tp5.png)
}

#legend .ext {
	background-image: url(normalImages/ext.png)
}

#legend .d {
	background-image: url(normalImages/dark.png)
}

#legend .k {
	background: #222;
}

#legend .p {
	background-image: url(normalImages/pit.png)
}

#legend .c1 {
	background-image: url(normalImages/chute1.png)
}

#legend .c2 {
	background-image: url(normalImages/chute2.png)
}

#legend .c3 {
	background-image: url(normalImages/chute3.png)
}

#legend .sp {
	background-image: url(normalImages/spin.png)
}

#legend .bl {
	background-image: url(normalImages/bl.png)
}

#legend .n {
	background-image: url(normalImages/non.png)
}

#legend .traps {
	background-image: url(normalImages/traps.png)
}

#legend .gt {
	background-image: url(normalImages/gt.png)
}

#legend .dg {
	background-image: url(normalImages/dragon.png)
}

#legend .sl {
	background-image: url(normalImages/sl.png)
}

#legend .st {
	background-image: url(normalImages/stud.png)
}

#legend .i {
	background-image: url(normalImages/ill.png)
}

#legend .j {
	background-image: url(normalImages/rdfull.png);
	background-repeat: no-repeat;
	background-position: center center;
}

#legend .bs {
	background-image: url(normalImages/bsfull.png);
	background-repeat: no-repeat;
	background-position: center center;
}

#legend .highlight {
	background-color: yellow;
}

.alt {
	color: #eee;
}

#roomView {
	position: absolute;
	margin-left: 697px;
	margin-top: 470px;
}

view {
	position: absolute;
	margin-top: 51px;
	width: 150px;
	height: 47px;
	-webkit-transform: scale(2.07, 2.07) translate(5px, 0px);
	transform: scale(2.07, 2.07) translate(5px, 0px);
	z-index: -1;
}

#viewBackground {
	z-index: -1;
	-webkit-transform: scale(2.07, 2.07) translate(4px, 0px);
	transform: scale(2.07, 2.07) translate(4px, 0px);
	margin-top: 37px;
	background: url(viewImages/floor.png) no-repeat center 0px;
	display: block;
	position: absolute;
	width: 140px;
	height: 72px;
}

column {
	float: left;
	width: 47px;
	height: 47px;
	text-align: center;
	vertical-align: middle;
}

row {
	position: absolute;
}

view .door {
	background: transparent url(viewImages/door.png) no-repeat;
}

view .wall {
	background: transparent url(viewImages/wall.png) no-repeat;
}

view .lwall, view .ldoor {
	-webkit-transform-origin: right center;
	-webkit-transform: perspective(93px) rotateY(76deg) translateX(-2px);
	-webkit-transform-style: preserve-3d;
	transform-origin: right center;
	transform: perspective(93px) rotateY(76deg) translateX(-2px);
	transform-style: preserve-3d;
}

view .rwall, view .rdoor {
	-webkit-transform-origin: left center;
	-webkit-transform: perspective(93px) rotateY(-76deg) translateX(2px);
	-webkit-transform-style: preserve-3d;
	transform-origin: left center;
	transform: perspective(93px) rotateY(-76deg) translateX(2px);
	transform-style: preserve-3d;
}

view .lwall, view .rwall {
	background: transparent url(viewImages/wall.png) no-repeat 0px 0px;
}

view .ldoor, view .rdoor {
	background: transparent url(viewImages/door.png) no-repeat 0px 0px;
}

#l1, #l2 {
	margin-right: -2px;
}

#r1, #r2 {
	margin-left: -1px;
}

#row1 {}

#row2 {
	opacity: .8;
	-webkit-transform: scale(.5, .5);
	transform: scale(.5, .5);
}

#row2 .door, #row2 .wall {
	opacity: .8;
}

#row2 .lwall, #row2 .rwall, #row2 .wall {
	background: transparent url(viewImages/r2wall.png) no-repeat 0px 0px;
}

#row2 .ldoor, #row2 .rdoor, #row2 .door {
	background: transparent url(viewImages/r2door.png) no-repeat 0px 0px;
}

leftBlock, rightBlock {
	position: absolute;
	width: 35px;
	height: 47px;
	background: white;
	display: block;
	-webkit-transform: scale(1, 2.2) translate3d(0px, 0px, 103px);
	transform: scale(1, 2.2) translate3d(0px, 0px, 103px);
}

rightBlock {
	margin-left: 103px;
}